{% extends "UekVideoBundle::bars.html.twig" %}
{% block header %}
<h1>Video PHPreo</h1>
{% endblock %}
{% block content %}
	<p>tu trzeba wstawić jakiś obrazek czy cuś tak żeby ładnie było na początek</p>
	<div class="col-xs-12 col-md-6">
		<img src="{{asset('bundles/uekvideo/images/damyRade.jpg')}}" alt="Damy Rade" class="img-thumbnail">
	</div>

{% endblock %} 
